.mid {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 20%;
  color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  line-height: normal;
}

.mid .left {
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
}

.mid .right {
  width: 30%;
}

.mid .title {
  font-weight: 600;
  font-size: 32px;
}

hr {
  margin: 20px 0px;
}

i {
  margin-right: 5px;
}

.bottom {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  margin: 0px 15%;
  justify-content: space-between;
  line-height: normal;
  margin-top: 100px;
}

.bottom .card {
  width: 30%;
  border: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

img {
  border-radius: 5px 5px 0px 0px;
}

.card .title {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 800;
  margin: 10px;
}

.card .subtitle {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  margin-bottom: 20px;
}

.bottom .btn_background {
  background-color: #f7f7f7;
  display: flex;
  border-top: solid 0.8px;
  border-color: rgba(0, 0, 0, 0.3);
}

.bottom .btn_background .btn:hover {
  background-color: #0261cd;
}

.bottom .btn_background .btn {
  margin-left: 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #057bff;
  border-style: solid;
  border-radius: 6px;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 320px) and (max-width: 480px) {
  .mid {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 20%;
    color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-content: center;
    line-height: normal;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .mid .left {
    width: 200%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .mid .right {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .mid .title {
    font-weight: 600;
    font-size: 32px;
  }

  hr {
    margin: 20px 0px;
  }
  .bottom {
    font-family: "Noto Sans KR", sans-serif;
    display: inline;
    margin: 10px 15%;
    justify-content: center;
    align-content: center;
    line-height: normal;
    margin-top: 100px;
  }

  .bottom .card {
    margin-left: 10%;
    width: 80%;
    border: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
  }
}
